.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }

  .navbar-profile ul.nav > li > a {
    color: #8b1d1d;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
  }
  
  .navbar-profile ul.nav > li .dropdown-menu {
    right: 0;
    left: auto;
  }
  
  @media (max-width: 767px) {
    .navbar-profile {
      position: absolute;
      display: inline-block;
      width: auto;
      right: 80px;
      top: 0;
      text-align: center;
      margin: auto;
    }
  }