


<div class="container">
    <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary">Add Audio</button>
        </div>
    </div>&nbsp;
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>No.</th>
              <th>Audio Name</th>
              <th>Image</th>
              <th>Description</th>
              <th >Play/Pause</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let audio of audioData; index as i">
              <th>{{i+1}}</th>
              <td>{{audio.name}}</td>
              <td><img src={{audio.image}} style="height: 60px; width: 60px;"></td>
              <td>{{audio.description}}</td>
              <td>
                <button (click)="toggleAudio()" id="playPauseButton" class="btn btn-primary">
                    <i *ngIf="!isPlaying" id="playIcon" class="fas fa-play"></i>
                    <i *ngIf="isPlaying" id="pauseIcon" class="fas fa-pause" style="display: none;"></i>
                </button>
                <audio #audioPlayer>
                    <source src="http://localhost:5000/{{audio.audioUrl}}" type="audio/mp3">
                  </audio>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('#playPauseButton').click(function () {
        $('#playIcon').toggle();
        $('#pauseIcon').toggle();
        // Add your play/pause functionality here
      });
    });
  </script>
  